127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
127.0.1.1   {{ hostname }}.{{ domain_name }} {{ hostname }}
#127.0.1.1   B71497 B71497.sa.cs.ut.ee B71497
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
